---
ohmyzsh_install_dir: /usr/local/share/ohmyzsh   # On MacOS /usr/ is read-only, therefore,
                                                # specify ohmyzsh_cache_dir var for correct work of completions.
ohmyzsh_cache_dir: ${HOME}/.ohmyzsh_cache       # This dir has to be writable. Mainly for macos, as /usr/ is read-only
ohmyzsh_custom_aliases: ${HOME}/.zsh/aliases.local

# If only p10k is set to true, then p9k will not be installed and configured.
# It is not recommended to set p9k only to true, because it's slow).
# If both p9k and p10k are set to true, then p10k will be used but the p9k style will be sourced.
# If installed both, but want to turn p9k off, then comment the following line in ~/.zshrc:
#   source ${HOME}/.zsh/omz_powerlevel9k.cfg
ohmyzsh_powerlevel10k: true
ohmyzsh_powerlevel10k_import_config: false
ohmyzsh_powerlevel9k: false               # true - use p9k prompt style | false - use p10k prompt style
ohmyzsh_powerlevel9k_cfg: ${HOME}/.zsh/omz_powerlevel9k.cfg

ohmyzsh_default_theme: 'robbyrussell'     # default fallback theme

ohmyzsh_users:
  - user: "{{ ansible_user_id }}"         # user name
    theme: powerlevel10k/powerlevel10k    # ohmyzsh theme; use "random" for random theme
    ssh_ids: []                           # list of SSH ids to add to ohmyzsh ssh manager plugin
    state: present                        # present or absent, to install/uninstall
    colorls: true                         # Install colorls ruby gem
    plugins:
      - sudo                              # Prefix current or previous command with sudo by pressing Esc twice

  - user: root
    theme: powerlevel10k/powerlevel10k
    ssh_ids: []
    state: present
    colorls: false

ohmyzsh_default_plugins:
  - cp          # User rsync instead of cp
  - gnu-utils   # Link unix utilites to `g`-named ones (ghead, gsed etc.)
  - tmux        # Tmux aliases + configuration

ohmyzsh_custom_plugins:
  # Make zsh behave as fish:
  # These three must be in following order:
  # zsh-autosuggestions zsh-history-substring-search zsh-syntax-highlighting
  - zsh-autosuggestions
  - zsh-history-substring-search
  - zsh-syntax-highlighting
