"=================================== SIGNIFY ===================================
" Tirn off background highlight of the left git panel (gutter):
highlight SignColumn ctermbg=NONE cterm=NONE guibg=NONE gui=NONE
"===============================================================================
