"================================= TMUX.VIM ====================================
let g:tmuxline_preset = 'full'
let g:tmuxline_theme = 'airline'
"===============================================================================
