"=============================== COMMAND-T PLUGIN ==============================
" Tab triggers buffer-name auto-completion
set wildchar=<Tab> wildmenu wildmode=full

map <Leader>t :CommandT<Return>
map <Leader>a :bprev<Return>
map <Leader>s :bnext<Return>
map <Leader>d :bd<Return>
map <Leader>f :b

"" Show the buffer number in the status line.
set laststatus=2 statusline=%02n:%<%f\ %h%m%r%=%-14.(%l,%c%V%)\ %P
"===============================================================================
