" This file is managed by Ansible, all changes will be lost
"================================== VIM-PLUG ===================================

" Specify a directory for plugins
" - For Neovim: ~/.local/share/nvim/plugged
" - Avoid using standard Vim directory names like 'plugin'
call plug#begin('~/.vim/{{ vim_plugins_dir }}')  " Make sure you use single quotes

" Define bundles via Github repos
{% for plug in vim_plugins %}
Plug '{{ plug.name }}'{% if 'opts' in plug %}, { {{ plug.opts }} }{% endif %}

{% endfor %}

if filereadable(expand("~/.vimrc.plug.local"))
    source ~/.vimrc.plug.local
endif

" Initialize plugin system
call plug#end()
"===============================================================================
